@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

.mainSectionAbout .mainRates {
  background: #060809;
  min-height: 100vh;
}

.mainRates img {
  width: 90px;
  height: 50px;
  border-radius: 20px;
}

.mainRates p {
  color: var(--bs-light);
}

.mainRates {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  position: relative;
  padding: 28px 0 10px 0;
  z-index: -1000;
  margin-top: 30px;
}

.cryptoDiv {
  display: flex;
  align-items: center;
}

.currency img {
  width: 401.3px;
  height: 82.41px;
}

.currency {
  display: flex;
  align-items: center;
}

.cryptoDiv img {
  width: 231.8px;
  height: 82.41px;
}

.container h5 {
  font-size: 20px;
  margin-top: 10px;
}

.cryptoDiv p,
.currency p,
.currency-1 p {
  font-size: 100px;
}

.paragraphe-1 {
  width: 30rem;
}

.mainRates-1 {
  margin-top: 20px;
}

.mainRates-1 .mainDivAbout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--bs-light);
}

.mainRates-1 .sousRates-1 h2 {
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: bold;
}
.sousRates-1 p {
  width: 30rem;
}

.sousRates-1 {
  display: flex;
  flex-direction: column;
}

.person-img {
  width: 448px;
  height: 672px;
  border-radius: 15px;
}

.logo-orangeRates {
  width: 448px;
  height: 440px;
}

.mainRates2 .sousRates2 h2 {
  width: 25rem;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}
.mainRates2 .sousRates2 p {
  width: 25rem;
  text-align: justify;
}

.mainRates2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 10%;
}
.div-four-img {
  width: 353.33px;
  height: 460.73px;
  border-radius: 10px;
}

.div-one-img {
  width: 373.34px;
  height: 486.83px;
  border-radius: 10px;
}

.sous-main-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 10%;
}

.div-two {
  margin-top: 10px;
}

.div-two h4 {
  font-size: 24px;
  font-weight: bold;
}

.div-two p {
  width: 23.2rem;
}

.div-three h4 {
  font-size: 3rem;
  font-weight: bold;
}

.div-three p {
  text-align: justify;
  margin-bottom: 20px;
}

.div-four {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sous-main-about .div-four h5 {
  font-size: 24px;
  color: var(--bs-dark);
}

.div-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3%;
}

.teamImg {
  width: 1216px;
  height: 638.4px;
}

.mainSectionThree {
  background: #060809;
  padding: 224px 0;
}
.mainSectionThree .mainThree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainSectionThree .mainThree h3,
.mainThree p {
  color: var(--bs-light);
  text-align: center;
}

.mainSectionThree h3 {
  font-size: 3rem;
}
.mainSectionThree .mainThree .mainChildren .paragraphe {
  width: 48rem;
  margin-bottom: 20px;
}

.mainChildren {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------Rates----------- */
.RateMainSection {
  min-height: 100vh;
}

.mainSectionRates {
  margin: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainCard {
  width: 576px;
  height: 663px;
  background: #20c997;
  border-radius: 15px;
}
